.checkbox-label-container {
    height: 25px;
    width: 99%;
    display: flex;
  }
  
  .checkbox-label-container p {
    flex-grow: 1;
    height: 100%;
    font-size: 14px;
    margin: 1px;
    float: right;
  }
  #checkbox-label-container2 {
    margin-top: 20px;
  }
  
  
  .checkbox-label-container input {
    height: 18px;
    width: 18px;
    float: left;
    margin-top: 1px;
    margin-left: 15px;

  }
  .checkbox-label-container > #text {
    float: right;
  }
  
  /* Hide the browser's default checkbox */
  .container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }