.ms1-searchbar-row > .dropdown {
    vertical-align: top;
}
  
.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 230px;
    border-radius: 3px;
}
  
.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 1px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}
  
.dropdown:before {
    margin-top: 8px;
    border-bottom-style: solid;
    border-top: none;
}
  
.dropdown:after {
    margin-top: 18px;
    border-top-style: solid;
    border-bottom: none;
}
  
.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 0px 1px 15px 10px;
    height: 44px;
    line-height: 14px;
    font-size: 15px;
    color: #494949;
    
    background: 2c2c2c; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0.40) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
  
}
  
/* Fix for IE 8 putting the arrows behind the select element. */  
.lt-ie9 .dropdown {
    z-index: 1;
}
  
.lt-ie9 .dropdown-select {
    z-index: -1;
}
  
.lt-ie9 .dropdown-select:focus {
    z-index: 3;
}
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
@-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
}
  
.dropdown-dark {
    background: #494949;
    border-color: #2c2c2c;
    background-color:rgba(0, 0, 0, 0.10);
}
  
.dropdown-dark:before {
    border-bottom-color: #aaa;
}
  
.dropdown-dark:after {
    border-top-color: #aaa;
}
  
.dropdown-dark .dropdown-select {
    color: #f5f5f5;
    text-shadow: 0 1px black;
    background: #494949;  /* Fallback for IE 8 */
}
  
.dropdown-dark .dropdown-select:focus {
    color: #ccc;
}
  
.dropdown-dark .dropdown-select > option {
    background: #494949;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 15px;
}