/* SIDEBAR */
.ms1-sidebar-button {
	display: flex;
	height: 40px;
    width: 100%;
	padding: 0;
	background: #909090;
	border: none;
	outline: none;
	border-radius: 8px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
    margin: 0px 5px 8px 0px;
    text-align: center;
}

#ms1-sidebar-export-button {
    margin-top: 2vh;
}

#ms1-sidebar-add-button {
    margin-top: 2vh;
}

#ms1-sidebar-help-button {
    margin-top: 2vh;
}

.ms1-sidebar-button-text,
.ms1-sidebar-button-icon {
  display: inline-flex;
  align-items: center;
  
  color: #fff;
  height: 100%; 
  font-size: 1.2hmin;
}

.ms1-sidebar-button-text {
    width: 80%;
    padding: 0 0 0 20px;
}

.ms1-sidebar-button-icon {
    width: 10%;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.10);
    padding: 0 12px;
}
  
.ms1-sidebar-button:hover {
    background: #666666;
}

.ms1-sidebar-button:active {
    background: #666666;
}

/* SEARCHBAR */

.ms1-searchbar-row {
    text-align: center;
    height: 32%;
    width: 100%;
}

.ms1-searchbar-row > p{
    width: 100%;
    height: 20px;
}

.ms1-searchbar-row2 {
      height: 25%;
      width: 99%;
      margin: 12px 0px;
}

.ms1-searchbar-row3 {
    height: 70%;
    width: 100%;

}

.ms1-searchbar-row2 input{
      width: 80%;
      padding: 3px;
      margin-left: 40px;
}

.ms1-searchbar-row2 label{
      width: 10vw;
      float: left;
      padding: 10px;
}

.ms1-searchbar {
      height: 230px;
      left: 270px;
      right: 0.5vw;
      position: absolute;
      border-radius: 10px;

}
   
.ms1-search-lbl {
      font-size: 22px;
      width: 100%;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 10px;
}
    
.searchbar-name-p {
      width: 50%;
}

.ms1-metabolome-div {
    background-color: #929292;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    padding: 10px;
    margin: 10px 1px;
}

.ms1-searchbar-left {
    background-color: #4b4b4b;
    width: 80%;
    height: 100%;
    min-height: 180px;
    color:white;
    float: left;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  
}

.ms1-searchbar-right {
    background-color: #4b4b4b;
    width: 20%;
    height: 100%;
    color:white;
    float: right;
  
}

.ms1-left-sidebar {
    background-color: #4b4b4b;
    width: 250px;
    height: 100%;
    float: left;
    padding: 0%;
    margin: 0%;
    min-width: 150px;
}

.ms1-logo {
    height: 60px;
    width: 100%;
    text-align: center;
}

.ms1-menu {
    height: 85%;
    width: 100%;
}
  
.ms1-logo-text {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
}

.searchbar-row3 {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
  
    cursor: pointer;
    font-size: 18px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    height: 60%;
    
    border-radius: 10px;
 
    width: 70%;
}

.searchbar-row3 input {
    width: 20%;
    height: 20%
}

.slide-in {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 92%;
    background-color: rgb(58, 58, 58);
    z-index: 9999;
    transition: all 0.5s ease-out;
    border-radius: 20px 0 10px 20px;
}
  
.slide-in--active {
    right: 0;
}
  
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.ms1-searchbar-row4 {
    height: 30px;
    width: 90%;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 4px;
}

.ms1-error-input{
    font-size: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 5px;
}

.ms1-error-button {
        display: flex;
        height: 35px;
        width: 100%;
        padding: 0;
        background: #747474;
        border: none;
        outline: none;
        border-radius: 8px;
        overflow: hidden;
        font-family: "Quicksand", sans-serif;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin: 10px 5px 1px 0px;
        text-align: center;
}

.ms1-error-button-text,
.ms1-error-button-icon {
  display: inline-flex;
  align-items: center;
  
  color: #fff;
  height: 100%; 
  font-size: 1.2hmin;
}

.ms1-error-button-text {
    width: 80%;
    padding: 0 0 0 20px;
}

.ms1-error-button-icon {
    width: 10%;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.30);
    padding: 0 12px;
}
  
.ms1-error-button:hover {
    background: #666666;
}

.ms1-error-button:active {
    background: #666666;
}

.ms1-results {
    background-color: #929292;
    left: 270px;
    right: 0.5vw;
    top: 240px;
    bottom:50px;
    position: absolute;
    border-radius: 20px;

}

.datatable-container {
    width: 100%;
}

.body-main {
    background-color: #4b4b4b;
    height: auto;
    width: auto;
    float: right;

}

.ms1-top-sidebar-buttons {
    position: absolute;
    width: 250px;
    top: 90px;
}

.ms1-bottom-buttons {
    position: absolute;
    width: 250px;

    bottom: 60px;

}