.datatable-container {
    --primary-color: white;
    --secondary-color: #747474;
    --highlight-color: #2c2c2c;
  
    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-not-available-color: lightgray;
  
    --dt-padding: 7px;
    --dt-padding-s: 1px;
    --dt-padding-xs: 0px;
  
    --dt-border-radius: 10px;
  
    --dt-background-color-container: #525252;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: white;
    width: 100%;
    height: 100%
}
  
.material-icons {
    font-size: 16px;
}
  
.datatable-container {
    font-family: sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    margin: 0 auto;
    font-size: 13px;
}
  
.datatable-container .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    /*padding: var(--dt-padding); */
    padding-left: 0;
    display: flex;
    align-items: center;
    height: 35px;
}
  
.datatable-container .header-tools .search {
    width: 40%;
    margin-right: 5px;
}
  
.datatable-container .header-tools .search .search-input {
    width: 95%;
    height: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: white;
    font-size: 17px;
    padding-left: 15px;    
}
  
.datatable-container .header-tools .tools {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}
  
.datatable-container .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}
  
.datatable-container .header-tools .tools ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs); 
    align-items: baseline;
    height: 100%;
    border-radius: 10px;
}


.datatable-container .header-tools .tools ion-icon {
    height: 30px;
    width: 25px;
    border-radius: 10px ;
}

.datatable-container .footer-tools {
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
  
.datatable-container .footer-tools .list-items {
    width: 50%;
}
  
.datatable-container .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}
  
.datatable-container .footer-tools .pages ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
  
.datatable-container .footer-tools .pages ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}
  
.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
    color: var(--dt-text-color-button);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    
    background: transparent;
    cursor: pointer;
}
  
.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover {
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}
  
.datatable-container .footer-tools .pages ul li span.active {
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
}
  
.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .footer-tools .pages ul li input,
.datatable-container .header-tools .tools ul li button {
    padding: var(--dt-padding-s) var(--dt-padding);
}
  
.datatable-container .datatable {
    border-collapse: collapse;
    width: 100%;
}
  

.datatable-container .datatable th,
.datatable-container .datatable td {
    padding-left: 0px;
    margin: 0px;
    
}

.datatable-container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}
  
.datatable-container .datatable td {
    border-bottom: solid 1px var(--dt-border-color);
    max-width: 120px;
    margin-left: 0px;
}

.datatable-container span {
    margin: 0px;
    padding: 0px;
}

.datatable-container .datatable br {
    margin: 0px;
    padding: 0px;
}
  
.datatable-container .datatable tbody tr:nth-child(even) {
    background-color: var(--dt-even-row-color);
}
  
.datatable-container .datatable tbody tr:hover {
    background-color: var(--dt-hover-cell-color);
}
  
.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .not-available::after {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
  
.datatable-container .datatable tbody tr .available::after {
    content: "Available";
    color: var(--dt-status-available-color);
}
  
  
.datatable-container .datatable tbody tr .not-available::after {
    content: "Not available";
    color: var(--dt-statu-not-available-color);
}
  
.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .not-available::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.datatable-container .datatable tbody tr .available::before {
    background-color: var(--dt-status-available-color);
}
  
.datatable-container .datatable tbody tr .away::before {
    background-color: var(--dt-status-away-color);
}
  
.datatable-container .datatable tbody tr .not-available::before {
    background-color: var(--dt-status-not-available-color);
}
  
.datatable-container-scrollable {
    height: 95%;
    overflow: auto;
}
  
.datatable-container-scrollable table {
    width: 100%;
}

.datatable-container-scrollable::-webkit-scrollbar {
    width: 8px;
}
  
.datatable-container-scrollable::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
#add-to-ms1-table-li {
    display: inline-block;
    margin-bottom: 8px;
    height: 90%;
    border-radius: 10px;
    
}
#add-to-ms1-table-input {
    display: inline-block;
    margin-top: 6px;
    margin-left: 5px;
    padding-left: 10px;
    height: 70%;
    border-radius: 10px;
    background-color: var(--dt-input-background-color);
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: white;
    font-size: 14px;
    
}


.row-details {
    display: contents; /* Hide the div by default */
  }
  
.hidden-row {
    display: none; /* Hide the hidden row initially */
}

.clicked + .hidden-row {
    display: table-row; /* Show the hidden row when the row is clicked */
    /*height: auto;*/ /* Set the height to auto for proper adjustment */
    height: 100px;
}

.row-details {
    display: grid;
    left: 0;
    right: 0;
    bottom: -1px;
    padding: 0px;
    /* overflow: auto; */ /* Removed overflow property */
    width: auto;
    z-index: 1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(250px, auto); /* Increased minimum row height */
    gap: 0px 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .row-details {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    .row-details {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
  
  .ms1-table-molecule {
    display: flex;
    flex-direction: column;
  }
  
  .im-container {
    margin: 0;
    text-align: center;
    /*height:500px;*/
  }
  
  .im-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .im-container2 {
    padding: 10px; /* Add padding to im-container2 for spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add extra space at the bottom */
    height: 100%; /* Ensure the im-container2 div fills the available height */
  }
  
  .im-container2 p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word; /* Wrap text to multiple lines */
    text-align: center; /* Center-align the text */
    overflow-wrap: break-word; /* Ensure long words or strings without spaces are broken and wrapped */
  }
  
  .im-container2 p.long-text {
    font-size: 16px; /* Set a smaller font size for long paragraphs */
  }

#toggle-show-identified {
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
}
.tbody {
    width: 100%;
}
.datatable {
    width: 100%;
}


.datatable-container .datatable th:nth-child(0),
.datatable-container .datatable td:nth-child(0) {
    width: 50px;
}
.datatable-container .datatable th:nth-child(1),
.datatable-container .datatable td:nth-child(1) {
    width: 10px;
}

.datatable-container .datatable th:nth-child(2),
.datatable-container .datatable td:nth-child(2) {
    width: 80px;
}

.datatable-container .datatable th:nth-child(3),
.datatable-container .datatable td:nth-child(3) {
    width: 80px;
}

.datatable-container .datatable th:nth-child(4),
.datatable-container .datatable td:nth-child(4) {
    min-width: 100px;
}
.datatable-container .datatable th:nth-child(5),
.datatable-container .datatable td:nth-child(5) {
    width: 150px;

}

.datatable-container .datatable th:nth-child(6),
.datatable-container .datatable td:nth-child(6) {
    width: 100px;
}
.datatable-container .datatable th:nth-child(7),
.datatable-container .datatable td:nth-child(7) {
    width: 80px;
}

.datatable-container .datatable th:nth-child(8),
.datatable-container .datatable td:nth-child(8) {
    width: 80px;
}
.datatable-container .datatable th:nth-child(9),
.datatable-container .datatable td:nth-child(9) {
    width: 80px;

}
.datatable-container .datatable th:nth-child(10),
.datatable-container .datatable td:nth-child(10) {
    width: 100px;

}
.datatable-container .datatable th:nth-child(11),
.datatable-container .datatable td:nth-child(11) {
    width: 30px;

}

#ms1-searchbar-input {
    color: white;
}
#ms1-searchbar-input::placeholder {
    color: white;
}

#add-to-ms1-table-input {
    color: white;
}

#add-to-ms1-table-input::placeholder {
    color: white;
}