.tabs {
	position: relative;
	display: flex;
	min-height: 650px;
	border-radius: 18px 18px 20px 20px;
	overflow: hidden;
  height: 100%;
  margin-top: 2px;
  width: 100%;
}

.tabs > div:first-child {
	flex: 0 0 20%; /* Do not grow, do not shrink, start at 100px */
}
.tabs > div:last-child {
	flex: 0 0 20%; /* Do not grow, do not shrink, start at 200px */
}

.tabby-tab {
	flex: 1;
  height: 95vh;
	width: 10%;
}


.tabby-label {
	display: block;
	box-sizing: border-box;
	/* tab content must clear this */
		height: 25px;
	
	padding: 1px;
	text-align: center;
	background: #7e7e7e;
  color: white;
	cursor: pointer;
	transition: background 0.5s ease;
  font-size: 20px;
	width: 100%;

	border-radius: 10px 0 0 0;
}
#rightmost-tab {
	border-radius:  0 10px 0 0 ;
}

.tabby-label:hover {
	background: #5a595a;
  color: white;
  
}

.tabby-content {
	position: absolute;
  	height: 100%;
	
	left: 0; bottom: 0; right: 0;
	/* clear the tab labels */
		top: 25px; 
	
	padding: 0px 10px;
	border-radius: 0 0 18px 18px;
	background: #4b4b4b;
	
	transition: 
		opacity 0.8s ease,
		transform 0.8s ease		;
	
	/* show/hide */
		opacity: 0;
		transform: scale(0.1);
		transform-origin: top left;
  
  border-radius: 0 0 0 0px
	
}

/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
	background: #2c2c2c;
	z-index: 2;
  color: white;
}

[type=radio]:checked ~ label ~ .tabby-content {
	z-index: 1;
	
	/* show/hide */
		opacity: 1;
		transform: scale(1);
}