# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.spec
*.db-shm
*.db-wal


src-tauri/pyinstaller/build/*
src-tauri/pyinstaller/dist/*

ms2_query/*
ms1_query/*