.ms2-sidebar-button {
	display: flex;
	height: 60px;
  width: 100%;
	padding: 0;
	background: #909090;
	border: none;
	outline: none;
	border-radius: 15px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.ms2-sidebar-button:hover {
  background: #666666;
}

.ms2-sidebar-button:active {
  background: #666666;
}

.ms2-searchbar-row {
    height: 30%;
    width: 90%;
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 4px;
}

.ms2-searchbar-row input{
width: 55%;
padding: 3px;
float: right;
border-radius: 10px;
}

.ms2-searchbar-row > .ms1-search-lbl{
width: 10vw;
float: left;
padding: 10px;

}

.ms2-searchbar-name {
height: 80%;
width: 36%;
float: left;
text-align: center;
padding: 10px;
}

.ms2-searchbar-input{
height: 80%;
width: 30%;
}

.ms2-searchbar {
    font-size: 30px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    float: center;
}

.ms2-searchbar-row > p {
    font-size: 25px;
    width: 30%;
    text-align: center;
    height: 100%;
}

.ms2-searchbar {
    width: 80vw;
    height: 15vh;
    float: top;
}

.ms2-dash-box {
    display: grid;
    grid-template-rows: 39px 29px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(31, 31, 31);
    width: 100px;
    height: 80px; 
    align-items: center;
}

.ms2-dashbox-header p{
    text-align: center;
    font-size: 14px;
    margin: auto;
    color:rgb(208, 208, 208)
}

.ms2-dashbox-text p{
    text-align: center;
    margin: auto;
    font-size: 12px;
    color:rgb(255, 255, 255)
}

.small-ms2-dash-box {
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    width: 110px;
    height: 98%; 
    
}

.small-ms2-dashbox-header p{
    text-align: center;
    font-size: 14px;
    margin: auto;
    padding: 1px 1px 1px 1px;
    color:rgb(200, 200, 200)
}

.small-ms2-dashbox-text p{
    text-align: center;
    margin: auto;
    font-size: 12px;
    color:rgb(255, 255, 255);
    padding: 1px 1px 1px 1px;
}

.open-file-button-text,
.open-file-button-icon {
      display: inline-flex;
      align-items: center;
      padding: 0 28.5px;
      color: #fff;
      height: 100%;
      font-size: 1.3em;
}

.open-file-button-icon {
      font-size: 2em;
      background: rgba(0, 0, 0, 0.15);
}

.open-file-button-text {
      padding: 0 54.2px;
}

.ms2-left-sidebar {
    background-color: #4b4b4b;
    width: 12vw;
    height: 100%;
    float: left;
    padding: 0%;
    margin: 0%;
    min-width: 150px;
}

.ms2-logo {
    height: 10%;
    width: 100%
}

.ms2-menu {
    height: 85%;
    width: 100%;
}
    
.ms2-logo-text {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.molecule {
    float: right;
    width: 57%;
    height: 220px;
    margin: 20px 0 0 0;
}

.molecule-canvas {
    width: 100%;
    height: 100%;
}

.body-main {
    background-color: #4b4b4b;
    width: 83vw;
    float: right;
    height: 100%;
}
  
.results-body {
    width: 81vw;
    height: 75vh;
    float: bottom;
    background-color: #4b4b4b;
    overflow-y: scroll;
    align-items: center;
}
  
.results-card {
    height: 300px;
    width: 98%;
    background-color: #303030;
    margin: 0.5%;
    border-radius: 20px;
}

.small-results-card {
    height: 60px;
    width: 98%;
    background-color: #303030;
    margin: 0.5%;
    border-radius: 20px;
}
  
.results-body label {
    font-size: 30px;
    color: white;
    width: 98%;
    padding: 10px;
}
  
.results-card-textbox {
    height: 280px;
    width: 38%;
    padding: 20px 0 0 20px;
    float: left;
    align-items: center;
    text-align: center;
}

.small-results-card-textbox {
    height: 80%;
    width: 38%;
    padding: 18px 0 0 20px;
    float: left;
    align-items: center;
    text-align: center;
}

.small-results-card-metadata {
    height: 95%;
    width: 60%;
    float: right;
    
  
}

.small-results-molecule-info {
    height: 100%;
    width: 55%;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    margin: 1px 0 0 1px;
    float: left;
}

.small-results-card-similarity {
    height: 100%;
    width: 40%;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    margin: 1px 0 0 1px;
    float: right;
}
  
.results-card-spectrogram-div {
    height: 289px;
    width: 58%;
    padding: 5px;
    float: right;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    align-items:end;
}
  
.results-card-dash {
    display: grid;
    grid-template-columns: 110px 110px;
    color: white;
    font-family: poppins, sans-serif;
    width: 40%;
    height: 75%;
    margin: 20px 0 0 5px;
    float: left;
  
}

.ms2-searchbar-left {
    background-color: #4b4b4b;
    width: 49%;
    height: 10vh;
    min-height: 150px;
    color:white;
    float: left;
    padding-left: 20px
  
}

.ms2-searchbar-right {
    background-color: #4b4b4b;
    width: 49%;
    height: 10vh;
    min-height: 150px;
    color:white;
    float: right;
  
}
  
  
  
  
